<html>
  <head>
    <title>Conociendo el mundo virtual</title>
  </head>
  <body>
    <div>
               <h1><a href="">Conociendo el mundo virtual</a></h1>
           </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">... mi profe</a></h2>
               <p>Las 9 horas en que una talentosa joven dedicó su tiempo para introducirme en el mundo tecnológico. Me admira la generosidad de estos jóvenes... por lo menos, ella y él, se entregaron por entero a enseñaros y, más aún, nos enseñaron a disfrutar esta lista impredecible de archivos... archivos que espero un día, gracias a ellos, aprender a leer.</p>
           </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">My second post</a></h2>
               <p>Las 9 horas en que una talentosa joven dedicó su tiempo para introducirme en el mundo tecnológico. Me admira la generosidad de estos jóvenes... por lo menos, ella y él, se entregaron por entero a enseñaros y, más aún, nos enseñaron a disfrutar esta lista impredecible de archivos... archivos que espero un día, gracias a ellos, aprender a leer.</p>
           </div>
       </body>
   </html>        
